.icon-bar_vertical {
  width: 90px;
  background-color: #555;
}

.icon-bar_horizontal {
  width: 100%; 
  background-color: #555; 
  overflow: auto; 
}

.icon-bar_vertical a {
  display: block; 
  text-align: center; 
  padding: 16px; 
  transition: all 0.3s ease; 
  color: white; 
  font-size: 36px;
}

.icon-bar_horizontal a {
  float: left;
  text-align: center;
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}
  
.icon-bar a:hover {
  background-color: #000;
}
  
.active {
  background-color: #4CAF50;
}